In [14]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/home/darkcover/Documentos/Out/dados/odds_200k.csv")
data.head()

   Unnamed: 0   Odd  Odd_Categoria  odd_entrada
0           0  3.85              9         11.0
1           1  6.96             10          9.0
2           2  5.41             10         10.0
3           3  1.05              2         10.0
4           4  1.70              6          2.0

In [15]:
array1 = []
array2 = []
medias = []
for name in data['Odd']:
    if name >= 1.75:
        array1.append(1)
    else:
        array1.append(0)

for i in range(len(array1)):
    array2.append(array1[i])
    if i % 60 == 0:
        media = np.mean(array2)
        medias.append(media)
        array2 = []
        
        break


print(len(array2))
print(medias)

60
[0.5833333333333334]